dj-database-url
Django
django-cool-pagination
django-extensions
project_runpy
# https://github.com/psycopg/psycopg2/issues/807
# psycopg2-binary
social-auth-app-django
waitress
whitenoise

# Dev
django-debug-toolbar
factory_boy
flake8
pip-tools
