{% load intcomma from humanize %}

<div class="ProductSlat" data-id="{{ product.key }}">
  <div class="thumbnail">&nbsp;</div>
  <div class="info">
    <a href="{{ product.get_absolute_url }}" class="ProductSlat--name">
      {{ product }}
    </a>
    <a href="{{ product.url }}" target="_blank" rel="noreferrer noopener">
      ↗️
    </a><br />
    <p class="ProductSlat--property">
      Sold by <a href="">{{ product.property }}</a>
    </p>
  </div>
  <div class="pricing">
    <div class="ProductSlat--last-price">
      {% if product.last_price %}<span class="price">${{ product.last_price|intcomma }}</span>{% endif %}
    </div>
    <div class="ProductSlat--base-price {% if product.last_price == product.price_base %}invisible{% endif %}">
      {% if product.price_base %}<span class="price">${{ product.price_base|intcomma }}</span>{% endif %}
    </div>
    {% if product.price_drop_short %}1d{{ product.price_drop_short }}{% endif %}
    {% if product.price_drop_long %}7d{{ product.price_drop_long }}{% endif %}
  </div>
  <div class="actions">
    <a href="{% url 'wishlist-toggle' %}"
       class="ProductSlat--ui-wishlist wishlist-loading"
       title="Click to toggle wishlist">&#x2605;</a>
  </div>
</div>
