<div class="product" data-id="{{ product.key }}">
  <a href="{{ product.get_absolute_url }}">
    {{ product }}
  </a>
  {% if product.last_price %}<span class="price">${{ product.last_price }}</span>{% endif %}
  {% if product.price_drop_short %}1d{{ product.price_drop_short }}{% endif %}
  {% if product.price_drop_long %}7d{{ product.price_drop_long }}{% endif %}
  <a href="{% url 'wishlist-toggle' %}"
     class="product--ui-wishlist wishlist-loading"
     title="Click to toggle wishlist">❤️</a>
</div>
